{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Otika-Projects</title>

    <link rel="shortcut icon" href="{% static 'assets/img/logo-small.png' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



</head>
<body>


<div class="main-wrapper">

    <div class="header header-one">

        <a href="javascript:void(0);" id="toggle_btn">
            <span class="toggle-bars">
            <span class="bar-icons"></span>
            <span class="bar-icons"></span>
            <span class="bar-icons"></span>
            <span class="bar-icons"></span>
            </span>
        </a>


        <ul class="nav nav-tabs user-menu">
{#            <li class="nav-item dropdown">#}
{#                <a href="javascript:void(0)" class="user-link  nav-link" data-bs-toggle="dropdown">#}
{#                    {% if user.profile.image %}#}
{#                        <span class="user-img">#}
{#                        <img src="{{ user.profile.image.url }}" alt="img" class="profilesidebar">#}
{#                        <span class="animate-circle"></span>#}
{##}
{#                    {% else %}#}
{#                        <span class="user-img">#}
{#                        <img src="{% static 'assets/images/guzel.JPG' %}" alt="img" class="profilesidebar">#}
{#                        <span class="animate-circle"></span>#}
{#                        </span>#}
{##}
{#                    {% endif %}#}
{##}
{#                    {% if user.is_authenticated %}#}
{#                        <span class="user-content">#}
{#                        <span class="user-name">{{ user.username|title }}</span>#}
{#                        <span class="user-details">{{ user.last_name|title }}</span>#}
{#                    </span>#}
{#                    {% endif %}#}
{##}
{#                    </span>#}
{#                </a>#}
{##}
{#                <div class="dropdown-menu menu-drop-user" style="border-radius: 15px">#}
{#                    <div class="profilemenu">#}
{#                        {% if user.is_authenticated %}#}
{#                            <div class="subscription-logout">#}
{#                                <ul>#}
{#                                    <li>#}
{#                                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>#}
{#                                        <a class="dropdown-item" href="{% url 'setting' %}">Setting</a>#}
{#                                    </li>#}
{##}
{#                                    <li class="pb-0">#}
{#                                        <a class="dropdown-item" href="{% url 'login' %}">Log Out</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{##}
{#                        {% else %}#}
{#                            <div class="subscription-logout">#}
{#                                <ul>#}
{#                                    <li class="pb-0">#}
{#                                        <a class="dropdown-item" href="{% url 'login' %}">Log in</a>#}
{#                                    </li>#}
{#                                    <li class="pb-0">#}
{#                                        <a class="dropdown-item" href="{% url 'register' %}">Register</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{##}
{##}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}

        </ul>

    </div>


    <div class="sidebar" id="sidebar">
        <div class="sidebar-header mb-4 mt-3">
            <div class="sidebar-logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'assets/img/logo-small.png' %}">
                </a>
            </div>
        </div>
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">


                <ul>
                    <li>
                        <a href="{% url 'index' %}"><i class="fas fa-car" style="margin-top: 20px"></i> <span
                                style="margin-top: 20px">Home</span></a>
                    </li>
                </ul>


            </div>
        </div>
    </div>








    {% block content %}

    {% endblock %}


</div>


<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/feather.min.js' %}"></script>

<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>

<!--
Yapay zekada ne yapabiliriz?

1.
gecen ayda 1000
bu ayda 1200
Onumuzdeki ayda muhtemelen 1000 civarında bir seyler satılacak

2.
Satilan ürünlerin sayısı tahmin edilir
Önümüzdeki ay Ne kadar kar edilebilir




Az parayla çok kar etmek
Bilgisayar 1000$  50$ 10  500
Telefonda 500$ 75$ 8 600



Talep edilen urun listesi

Algoritma
Machine learning pipeline
-->

